body {
  margin: 25px;
  padding: 25px;
  font-family: sans-serif;
}

.loginContainer{
  text-align: center;
  font-size: 2em;
}

.loginContainer label {
  display: block;
}

.loginContainer div {
  margin: 15px;
  padding: 15px;
}

.loginContainer input, 
.loginContainer select {
  width: 400px;
  height: 25px;
  border-radius: 3px;
}